<nav class="bui-flex bui-flex-col bui-h-full bui-p-2 bui-rounded-3">
  <div class="bui-flex bui-flex-col bui-gap-2 bui-overflow-auto bui-min-h-0">
    <div class="stack">
      <ng-container *ngFor="let y of years(); let i = index">
        <div class="year-row">
          <button bui-tertiary-button class="year-button" type="button" (click)="toggleYear(i)">
            <bui-icon [icon]="y.expanded ? 'arrow-down' : 'single-arrow-right'" class="bui-mr-1"></bui-icon>
            <span class="bui-truncate">{{ y.year }}</span>
          </button>
          <button bui-icon-button
                  icon="more-vertical"
                  aria-label="Year actions"
                  [buiMenuTriggerFor]="yearMenu"
                  [buiMenuTriggerData]="{ index: i, year: y }"
                  (click)="setMenuContext(i, y)">
          </button>
        </div>

        <div *ngIf="y.expanded" class="entries">
          <button bui-tertiary-button class="entry-button" type="button" (click)="editYear(y.year)">
            <span>Edit year</span>
          </button>

          <ng-container *ngFor="let q of y.quarters">
            <button bui-tertiary-button class="entry-button" type="button" (click)="editQuarter(y.year, q)">
              <span>Edit {{ q.title }}</span>
            </button>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="tags">
    <ng-container *ngFor="let t of tags()">
      <span class="tag-pill">{{ t }}</span>
    </ng-container>
  </div>
</nav>

<bui-menu #yearMenu [hasBackdrop]="true">
  <ng-template buiMenuContent let-index="index" let-year="year">
    <button bui-menu-button type="button" (click)="onDeleteYear()">
      <bui-icon icon="delete"></bui-icon>
      <span>Delete year</span>
    </button>
  </ng-template>
</bui-menu>
