<nav class="bui-flex bui-flex-col bui-h-full bui-p-2 bui-rounded-3">
  <div class="bui-flex bui-flex-col bui-gap-2 bui-overflow-auto bui-min-h-0">
    <div class="stack">
      <!-- Render from signal -->
      <ng-container *ngFor="let y of years(); let i = index">
        <div class="year-row">
          <button bui-tertiary-button class="year-button" type="button" (click)="toggleYear(i)">
            <bui-icon [icon]="y.expanded ? 'arrow-down' : 'single-arrow-right'" class="bui-mr-1"></bui-icon>
            <span class="bui-truncate">{{ y.year }}</span>
          </button>
          <button bui-icon-button
                  icon="more-vertical"
                  aria-label="Year actions"
                  [buiMenuTriggerFor]="yearMenu"
                  (click)="setMenuContext(i, y)">
          </button>
        </div>

        <div *ngIf="y.expanded" class="entries">
          <button bui-tertiary-button class="entry-button" type="button" (click)="editYear(y.year)">
            <span class="bui-truncate">Edit year</span>
          </button>

          <ng-container *ngFor="let q of y.quarters">
            <button bui-tertiary-button class="entry-button" type="button" (click)="editQuarter(y.year, q)">
              <span class="bui-truncate">Edit {{ q.title }}</span>
            </button>
          </ng-container>

          
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Footer tags -->
  <div class="tags">
    <button bui-tertiary-button class="tag-btn tag-btn--mini" type="button" (click)="onYear()">Year</button>
    <button bui-tertiary-button class="tag-btn tag-btn--mini" type="button" (click)="onQuarter()">Quarter</button>
    <button bui-tertiary-button class="tag-btn tag-btn--mini" type="button" (click)="onModule()">Module</button>
    <button bui-tertiary-button class="tag-btn tag-btn--mini" type="button" (click)="onTemplate()">Template</button>
  </div>
</nav>
<bui-menu #yearMenu [hasBackdrop]="true">
  <ng-template buiMenuContent>
    <button bui-menu-button type="button" (click)="onDeleteYear()">
      <bui-icon icon="delete"></bui-icon>
      <span>Delete year</span>
    </button>
    <button bui-menu-button type="button" (click)="onDuplicateYear()">
      <bui-icon icon="copy"></bui-icon>
      <span>Duplicate year</span>
    </button>
  </ng-template>
</bui-menu>
